div {
    padding: 10px;
    width: 150px;
}

button {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10;
    padding-left: 20;
    padding-right: 20;
    font-size: 30;
    border-radius: 20px;
    margin-bottom: 10px;
}

body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.uno {
    font-size: 50;
}

.dos {
    font-size: 50;
    color: #fff;
    background-color: #000;
    border-radius: 13px;
}

.tres {
    font-size: 25;
}

.img-hor {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

img {
    width: 115px;
    height: 115px;
}